<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item>
      <!--<ion-label position="floating">{{ fechaCalendario }}</ion-label>-->
      <ion-datetime
      displayFormat="MM/DD/YYYY"
      [(ngModel)]="fechaCalendario"
      [value]="fechaCalendario"
      (ngModelChange)="buscarData($event)"
        min="1994-03-14"
        max="2099-12-09">
      </ion-datetime>
      <!--<ion-datetime [value]="fechaCalendario" (change)="buscarData($event)" displayFormat="MM/DD/YYYY" min="2019-01-01" [max]="getDate()"></ion-datetime>-->
    </ion-item>
    <ion-card class="hand-cursor" (click)="irGrafico()">
      <ion-card-header>
        <!--<ion-card-subtitle>Ventas Totales</ion-card-subtitle>-->
        <ion-card-title>
          <ion-text color="success" class="ion-text-center">
            <h1>$ {{moneda(ventasInside.data.totalDolares)}}</h1>
          </ion-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-text color="medium" class="ion-text-center">
            <h6>Venta Total</h6>
          </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card *ngIf="ventasInside.data.ventasPorTienda.length>0">
      <ion-item>
        <ion-text color="medium" class="ion-text-start">
          <h3>Venta por Tienda</h3>
        </ion-text>
      </ion-item>

      <ion-item class="hand-cursor" *ngFor="let venta of ventasInside.data.ventasPorTienda" (click)="irMetas(venta)">
        <div class="card widget-card-1">
          <div class="card-block-small">
            <i class="icofont icofont-pie-chart bg-c-blue card1-icon"><h5>{{moneda(venta.ticketPromedio)}}</h5></i>
            <ion-grid>
              <ion-row>
                <ion-col class="aling-text-edo"><ion-text color="medium"><small>Nueva Esparta</small></ion-text></ion-col>
                <ion-col class="aling-text-hoy"><ion-text color="medium"><small>{{esHoy}}</small></ion-text></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="aling-text-test"><ion-text color="medium"><h5>{{venta.nombre}}</h5></ion-text></ion-col>
                <ion-col class="aling-text-monto"><small><ion-text color="danger"><b>{{ moneda(venta.totalDolares)}}</b></ion-text></small></ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-item>

      <!--<ion-item>
        <div class="card widget-card-1">
          <div class="card-block-small">
            <i class="icofont icofont-pie-chart bg-c-green card1-icon"><h5>13.19</h5></i>
            <ion-grid>
              <ion-row>
                <ion-col class="aling-text-edo"><ion-text color="medium"><small>Nueva Esparta</small></ion-text></ion-col>
                <ion-col class="aling-text-hoy"><ion-text color="medium"><small>Hoy</small></ion-text></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="aling-text-test"><ion-text color="medium"><h4>31 de Julio</h4></ion-text></ion-col>
                <ion-col class="aling-text-monto"><small><ion-text color="danger"><b>$33.743,78</b></ion-text></small></ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-item>-->
    </ion-card>
</ion-content>